# Server configuration
PORT=3001

# Email configuration
ENABLE_EMAILS=true
RESEND_API_KEY=re_YE2gw426_GhVhzUnYFP85Nqc4Ua7fgSYZ
ADMIN_EMAIL=neelashkannan@robonium.tech
FROM_EMAIL=quotes@robonium.tech

# File uploads configuration
MAX_FILE_SIZE=50000000  # 50MB in bytes
UPLOAD_DIR=uploads

# Set to true in production
NODE_ENV=development 